.header-afiliado {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #022d87;
  padding: 2rem;
}
.afiliados-page {
  background-color: #022d87;
  text-align: center;
  iframe {
    @include tablet {
      width: 100%;
    }
  }
  h1 {
    font-family: principal-bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
    letter-spacing: 2px;
    max-width: 810px;
    margin: 0 auto;
    margin-bottom: 1rem;
    @include tablet {
      font-size: 1rem;
    }

    strong {
      color: #38e67d;
    }
  }
}
