body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #022d87;
}
.hero {
  background-image: url("../img/bg-hero.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include tablet {
    background-position-x: 54%;
  }
  .bg-fundo {
    background: linear-gradient(
      0deg,
      #022d87 -83%,
      #022d87 3%,
      rgba(2, 45, 135, 0) 39%
    );
  }
  .content-hero {
    display: flex;
    padding: 2rem 15px 0 15px;
    @include tablet {
      flex-direction: column;
    }
    .col-info {
      width: 50%;
      padding-left: 1.5rem;
      position: relative;
      @include tablet {
        width: 100%;
        padding: 0;
        text-align: center;
      }
      h1 {
        font-family: principal-bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 2.2rem;
        max-width: 420px;
        margin-bottom: 1rem;
        letter-spacing: 3px;
        @include tablet {
          font-size: 2rem;
          max-width: inherit;
          margin-bottom: 1rem;
          text-align: center;
        }
        @include sm-mobile {
          font-size: 1.8rem;
        }
        strong {
          color: #38e67d;
        }
      }
      p {
        color: #fff;
        font-family: secundaria-l;
        max-width: 310px;

        @include tablet {
          max-width: inherit;
          text-align: center;
        }
        strong {
          font-family: secundaria-bold;
        }
      }
      img {
        width: 400px;
        margin-left: 1.5rem;
        margin-bottom: 1.2rem;
        @include tablet {
          margin-left: 0;
          width: 80%;
          margin-right: 1rem;
        }
      }
      .box-s {
        margin-left: 1.5rem;
        width: 400px;
        position: relative;
        @include tablet {
          width: 100%;
          margin-left: 0;
          display: flex;
          justify-content: center;
        }
        &::after {
          content: "";
          display: block;
          width: 550px;
          height: 290px;
          background-image: url("../icons/sombra-botao.png");
          background-repeat: no-repeat;
          background-size: 100%;
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: 1;
          @include tablet {
            display: none;
          }
        }
      }
      a {
        color: #fff;
        display: block;
        width: 400px;
        text-align: center;
        padding: 0.5rem 1rem;
        background-color: #023596;
        border: solid 3px #38e67d;
        border-radius: 30px;
        font-size: 1rem;
        text-transform: uppercase;
        font-family: principal-l;
        text-decoration: none;
        z-index: 2;
        position: relative;
        transition: all ease-in-out 0.5s;
        letter-spacing: 2px;
        @include tablet {
          width: 80%;
        }
        @include mobile {
          width: 100%;
        }
        @include sm-mobile {
          width: 100%;
        }
        &:hover {
          border-radius: 15px;
          width: 415px;
          .box-s {
            &::after {
              width: 600px;
            }
          }
        }
        span {
          font-family: principal-bold;
        }
        strong {
          color: #38e67d;
          font-family: principal-bold;
          transition: all ease-in-out 0.5s;
        }
      }
    }
    .col-img {
      width: 50%;
      @include tablet {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        width: 100%;
        @include tablet {
          width: 85%;
          margin-top: 2rem;
        }
      }
    }
  }
}

.benefits {
  background-color: #022d87;
  width: 100%;
  padding: 1.5rem 0;
  .slick-slide {
    img {
      width: 202px;
      @include tablet {
        width: 100%;
        margin: 0 0.5rem;
        height: 295px;
      }
    }
  }
  .slick-list {
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 93px;
      height: 366px;
      top: 0;
      z-index: 9;
      left: -2px;
      background: linear-gradient(
        90deg,
        #022d87 0%,
        rgba(252, 176, 69, 0) 100%
      );
      @include tablet {
        background: none;
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 73px;
      height: 366px;
      top: 0;
      z-index: 9;
      right: -2px;
      background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 0) 0%,
        rgba(253, 29, 29, 0) 0%,
        #022d87 100%
      );
      @include tablet {
        background: none;
      }
    }
  }
  .item {
    height: 365px;
    display: flex;
    align-items: center;
    @include tablet {
      height: inherit;
    }
    img {
      transition: all ease-in-out 0.5s;
    }
  }
  .slick-slider {
    margin-bottom: 2rem;
  }
  .slick-center {
    img {
      height: 365px;
      @include tablet {
        height: 295px;
      }
    }
  }
  .slick-prev {
    margin-right: 3rem;
    background-size: 100% !important;
    height: 34px !important;
    width: 32px !important;
    background-repeat: no-repeat !important;
    background: url("../icons/arrow.png") !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    transform: rotate(180deg);
    position: absolute;
    top: 153px;
    left: -60px;
    border: none;
  }
  .slick-next {
    margin-right: 3rem;
    background-size: 100% !important;
    height: 34px !important;
    width: 32px !important;
    background: url("../icons/arrow.png") !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: 153px;
    right: -110px;
    border: none;
  }
  h2 {
    font-family: principal-bold;
    text-transform: uppercase;
    color: #fff;

    font-size: 2.4rem;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
    margin-bottom: 1.5rem;
    @include tablet {
      font-size: 2rem;
    }
  }
  .owl-nav {
    display: block !important;
    position: relative;
    .owl-prev {
      width: 30px;
      height: 30px;
      background-image: url("../icons/arrow.png") !important;
      background-size: cover;
      margin-right: 3rem;
      background-size: 100% !important;
      height: 34px !important;
      width: 32px !important;
      background-repeat: no-repeat !important;
      transform: rotate(180deg);
      position: absolute;
      top: -210px;
      left: -60px;
    }
    .owl-next {
      width: 30px;
      height: 30px;
      background-image: url("../icons/arrow.png") !important;
      background-size: cover;
      margin-left: 3rem;
      background-size: 100% !important;
      height: 34px !important;
      width: 32px !important;
      background-repeat: no-repeat !important;
      position: absolute;
      top: -210px;
      right: -60px;
    }
  }
  .owl-carousel {
    margin-bottom: 2rem;
    .item {
      img {
        display: block;
        width: 100%;
        border-radius: 10px;
      }
    }
    .owl-stage-outer {
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 73px;
        height: 362px;
        top: 0;
        z-index: 9;
        left: -2px;
        background: linear-gradient(
          90deg,
          #022d87 0%,
          rgba(252, 176, 69, 0) 100%
        );
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 73px;
        height: 362px;
        top: 0;
        z-index: 9;
        right: -2px;
        background: linear-gradient(
          90deg,
          rgba(131, 58, 180, 0) 0%,
          rgba(253, 29, 29, 0) 0%,
          #022d87 100%
        );
      }
    }
  }
  .btn-affiliate {
    display: flex;
    justify-content: center;
  }
  .box-s {
    // width: 200px;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 506px;
      height: 168px;
      background-image: url("../icons/sombra-botao-02.png");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 10px;
      left: 5px;
      z-index: 1;
      opacity: 0.5;
      @include tablet {
        width: 415px;
        height: 198px;
      }
    }
  }
  a {
    color: #fff;
    display: block;
    width: 310px;
    text-align: center;
    padding: 0.7rem 1rem;
    background-color: #023596;
    border: solid 3px #38e67d;
    border-radius: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: principal-l;
    text-decoration: none;
    z-index: 2;
    position: relative;
    letter-spacing: 2px;
    transition: all ease-in-out 0.5s;
    &:hover {
      width: 340px;
      border-radius: 15px;
    }
    span {
      font-family: principal-bold;
    }
    strong {
      color: #38e67d;
      font-family: principal-bold;
      transition: all ease-in-out 0.5s;
    }
  }
}
.games {
  padding: 2rem 0 4.5rem 0;
  background-color: #022d87;
  width: 100%;
  h2 {
    font-family: principal-bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.4rem;
    text-align: center;
    text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
    margin-bottom: 1.5rem;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    @include tablet {
      font-size: 2rem;
    }
  }
  img {
    width: 100%;
    margin-top: 1.5rem;
  }
  .box-s {
    margin-left: 1.5rem;
    width: 400px;
    position: relative;
    @include tablet {
      margin-left: 0;
      width: 100%;
    }
    &::after {
      content: "";
      display: block;
      width: 485px;
      height: 73px;
      background-image: url("../img/shadow-games.png");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: -1px;
      left: 376px;
      z-index: 1;
    }
  }
  .btn-games {
    display: flex;
    justify-content: center;
    position: relative;

    a {
      color: #fff;
      display: block;
      width: 320px;
      text-align: center;
      padding: 0.6rem 1.5rem;
      background-color: #043883;
      border: solid 4px #001b56;
      border-radius: 19px;
      font-size: 1rem;
      text-transform: uppercase;
      font-family: principal-l;
      letter-spacing: 2px;
      text-decoration: none;
      z-index: 2;
      position: absolute;
      transition: all ease-in-out 0.5s;
      line-height: 14px;
      top: -29px;
      z-index: 9999;
      left: 370px;
      line-height: 17px;
      @include tablet {
        left: 0;
        top: -19px;
        width: 100%;
      }
      &:hover {
        width: 340px;
        border-radius: 15px;
        @include tablet {
          width: 100%;
        }
      }
      span {
        font-family: principal-bold;
      }
      strong {
        color: #38e67d;
        font-family: principal-bold;
        transition: all ease-in-out 0.5s;
      }
    }
  }
}

.competicoes {
  background-color: #022d87;
  width: 100%;
  padding-bottom: 2.5rem;
  .content-competicoes {
    display: flex;
    padding: 2rem 0rem 0 2rem;
    background-image: url("../img/bg.png");
    background-size: 1020px;
    background-repeat: no-repeat;
    background-position-y: 0;
    border-bottom-left-radius: 50px;
    max-width: 1000px;
    margin: 0 auto;
    background-position-x: -20px;
    position: relative;
    box-shadow: 0px 0px 13px 0px rgba(17, 81, 161, 1);
    @include tablet {
      flex-direction: column;
      padding: 1.5rem 0 1.5rem 0.5rem;
      overflow: hidden;
    }
    .info-mobile {
      display: none;
      font-family: principal-bold;
      text-transform: uppercase;
      color: #fff;
      font-size: 1.45rem;
      margin-bottom: 1.3rem;
      letter-spacing: 2px;
      @include tablet {
        display: block;
      }
      strong {
        color: #38e67d;
      }
    }
    .content {
      display: flex;
    }
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 150px;
      background-image: url("../img/bg-liberta-before.png");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 305px;
      opacity: 1;
      right: -81px;
      @include tablet {
        height: 110px;
      }
    }
    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 150px;
      background-image: url("../img/bg-liberta-after.png");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 33px;
      opacity: 1;
      left: -80px;
      @include tablet {
        height: 110px;
      }
    }
    .col-img {
      width: 40%;
      img {
        width: 100%;
        @include tablet {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }
    }
    .col-info {
      width: 60%;
      padding: 2rem 4rem;
      @include tablet {
        padding: 1rem 0.5rem;
      }
      h3 {
        font-family: principal-bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.9rem;
        margin-bottom: 1.3rem;
        letter-spacing: 2px;
        @include tablet {
          display: none;
        }
        strong {
          color: #38e67d;
        }
      }
      p {
        color: #fff;
        font-family: secundaria-l;
        max-width: 440px;
        font-size: 1.1rem;
        @include tablet {
          max-width: inherit;
          font-size: 0.95rem;
        }
        strong {
          font-family: secundaria-bold;
        }
      }
      .btn-affiliate {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        @include tablet {
          margin-top: 1rem;
        }
        .box-s {
          margin-left: 1.5rem;
          width: 400px;
          position: relative;
          @include tablet {
            width: 100%;
            margin-left: 0;
          }
          &::after {
            content: "";
            display: block;
            width: 455px;
            height: 129px;
            background-image: url("../img/shadow-taca.png");
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            top: 19px;
            left: 1px;
            z-index: 1;
            @include tablet {
              width: 266px;
              height: 84px;
            }
            @include mobile {
              height: 109px;
              width: 259px;
            }
            @include sm-mobile {
              width: 232px;
              height: 55px;
            }
            @include sm {
              width: 202px;
              height: 66px;
            }
          }
        }
        a {
          color: #fff;
          display: block;
          width: 300px;
          text-align: center;
          padding: 0.5rem 1rem;
          background-color: #023596;
          border: solid 3px #38e67d;
          border-radius: 30px;
          font-size: 1rem;
          text-transform: uppercase;
          font-family: principal-l;
          letter-spacing: 2px;
          text-decoration: none;
          z-index: 2;
          position: relative;
          transition: all ease-in-out 0.5s;
          @include tablet {
            width: 100%;
            font-size: 0.6rem;
            padding: 0.5rem;
          }
          @include sm-mobile {
            font-size: 0.55rem;
            padding: 0.5rem 0.2rem;
          }
          &:hover {
            width: 320px;
            border-radius: 15px;
          }
          span {
            font-family: principal-bold;
          }
          strong {
            color: #38e67d;
            font-family: principal-bold;
            transition: all ease-in-out 0.5s;
          }
        }
      }
    }
  }
}
.eventos {
  background-color: #022d87;
  width: 100%;
  .content-event {
    display: flex;
    padding-bottom: 8rem;
    @include tablet {
      flex-direction: column;
      padding: 0 7px 10rem 7px;
    }
    .col-info {
      width: 50%;
      padding-left: 5rem;
      @include tablet {
        width: 100%;
        padding-left: 0;
        padding-bottom: 2rem;
      }
      h3 {
        font-family: principal-bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.9rem;
        margin-bottom: 1.3rem;
        letter-spacing: 2px;
        max-width: 320px;
        @include tablet {
          font-size: 1.2rem;
          text-align: center;
          max-width: 300px;
          margin: 0 auto 0.5rem auto;
        }
        strong {
          color: #38e67d;
        }
      }
      p {
        color: #fff;
        font-family: secundaria-l;
        max-width: 440px;
        font-size: 0.95rem;
        @include tablet {
          max-width: 250px;
          text-align: center;
          margin: 0 auto;
          font-size: 1.1rem;
          line-height: 17px;
        }
        strong {
          font-family: secundaria-bold;
        }
      }
      .btn-affiliate {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        @include tablet {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 0;
        }
        .box-s {
          margin-left: 1.5rem;
          width: 400px;
          position: relative;
          @include tablet {
            margin-left: 0;
            width: 100%;
            margin-top: 0.5rem;
            display: flex;
            justify-content: center;
          }
          &::after {
            content: "";
            display: block;
            width: 460px;
            height: 198px;
            background-image: url("../img/shadow-evento.png");
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            top: 29px;
            left: 1px;
            z-index: 1;
            @include tablet {
              width: 400px;
              height: 44px;
              left: 61px;
            }
            @include sm-mobile {
              width: 380px;
              height: 47px;
            }
            @include sm {
              width: 350px;
              height: 47px;
            }
          }
        }
        a {
          color: #fff;
          display: block;
          width: 300px;
          text-align: center;
          padding: 0.5rem 1rem;
          background-color: #023596;
          border: solid 3px #38e67d;
          border-radius: 30px;
          font-size: 1rem;
          text-transform: uppercase;
          font-family: principal-l;
          letter-spacing: 2px;
          text-decoration: none;
          z-index: 2;
          position: relative;
          transition: all ease-in-out 0.5s;
          @include tablet {
            padding: 0.5rem 1.5rem;
            border-radius: 15px;
            font-size: 0.75rem;
            width: 290px;
          }
          &:hover {
            width: 320px;
            border-radius: 15px;
          }
          span {
            font-family: principal-bold;
          }
          strong {
            color: #38e67d;
            font-family: principal-bold;
            transition: all ease-in-out 0.5s;
          }
        }
      }
    }
    .col-img {
      width: 50%;
      display: flex;
      position: relative;
      @include tablet {
        width: 100%;
        justify-content: center;
      }
      img {
        width: 300px;
        height: 300px;
        box-shadow: 0px 0px 11px 0px rgba(1, 38, 117, 1);
        @include tablet {
          width: 300px;
          height: 230px;
        }
      }
      img:nth-child(1) {
        position: absolute;
        top: 0px;
        z-index: 2;
      }
      img:nth-child(2) {
        position: relative;
        left: 200px;
        top: 90px;
        @include tablet {
          position: relative;
          left: 20px;
          top: 120px;
        }
      }
    }
  }
}

.social {
  background-color: #022d87;
  width: 100%;
  padding-bottom: 0.3rem;
  .container {
    position: relative;
    @include tablet {
      padding: 0 5px;
    }
  }
  .bola-bg {
    position: absolute;
    top: -160px;
    left: -100px;
    width: 700px;
    @include tablet {
      display: none;
    }
  }
  .content-social {
    display: flex;
    padding: 2rem 0rem 0 2rem;
    background-image: url("../img/bg-03.png");
    background-size: 1020px;
    background-repeat: no-repeat;
    background-position-y: 0;
    max-width: 1000px;
    margin: 0 auto;
    background-position-x: -20px;
    position: relative;
    @include tablet {
      display: none;
      padding: 2rem 0.5rem 0 0.5rem;
    }
    .col-img {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      @include tablet {
        align-items: flex-end;
      }
      img {
        width: 300px;
        @include tablet {
          width: 100%;
          height: 250px;
        }
      }
    }
    .col-info {
      width: 60%;
      padding: 2rem 4rem;
      @include tablet {
        padding: 1rem 0.5rem;
      }
      h3 {
        font-family: principal-bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.9rem;
        margin-bottom: 1.3rem;
        letter-spacing: 2px;
        @include tablet {
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
          display: none;
        }
        strong {
          color: #38e67d;
        }
      }
      p {
        color: #fff;
        font-family: secundaria-l;
        max-width: 440px;
        font-size: 1.1rem;
        @include tablet {
          max-width: inherit;
          font-size: 0.95rem;
        }
        strong {
          font-family: secundaria-bold;
        }
      }
      .btn-affiliate {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        @include tablet {
          margin-top: 1.3rem;
        }
        .box-s {
          margin-left: 1.5rem;
          width: 400px;
          position: relative;
          @include tablet {
            margin-left: 0.5rem;
            width: 100%;
          }
          &::after {
            content: "";
            display: block;
            width: 440px;
            height: 168px;
            background-image: url("../img/sombra-coroa.png");
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            top: 9px;
            left: 1px;
            z-index: 1;
            @include tablet {
              top: 9px;
              left: 1px;
              width: 280px;
              height: 58px;
            }
          }
        }
        a {
          color: #fff;
          display: block;
          width: 300px;
          text-align: center;
          padding: 0.5rem 1rem;
          background-color: #023596;
          border: solid 3px #38e67d;
          border-radius: 30px;
          font-size: 1rem;
          text-transform: uppercase;
          font-family: principal-l;
          letter-spacing: 2px;

          text-decoration: none;
          z-index: 2;
          position: relative;
          transition: all ease-in-out 0.5s;
          &:hover {
            border-radius: 15px;

            width: 320px;
            @include tablet {
              width: 100%;
            }
          }
          @include tablet {
            width: 100%;
            font-size: 0.95rem;
          }
          @include sm-mobile {
            font-size: 0.55rem;
          }
          span {
            font-family: principal-bold;
          }
          strong {
            color: #38e67d;
            font-family: principal-bold;
            transition: all ease-in-out 0.5s;
          }
        }
      }
    }
  }

  .content-social-mobile {
    display: none;
    padding: 1.5rem 1rem;
    background-image: url("../img/bg-03.png");
    background-size: 750px;
    background-repeat: no-repeat;
    background-position-y: 0;
    max-width: 1000px;
    margin: 0 auto;
    background-position-x: -20px;
    position: relative;
    @include tablet {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    @include sm {
      padding: 0.7rem;
    }
    h3 {
      font-family: principal-bold;
      text-transform: uppercase;
      color: #fff;
      font-size: 1.9rem;
      margin-bottom: 1.3rem;
      letter-spacing: 2px;
      @include tablet {
        font-size: 1.25rem;
        margin-bottom: 1.3rem;
      }
      @include sm {
        margin-bottom: 0.5rem;
      }
      strong {
        color: #38e67d;
      }
    }
    .content {
      display: flex;
    }
    .col-img {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      @include tablet {
        align-items: flex-end;
      }
      img {
        width: 300px;
        @include tablet {
          width: 100%;
          height: 250px;
        }
        @include sm {
          height: 210px;
        }
      }
    }
    .col-info {
      width: 60%;
      padding: 2rem 4rem;
      @include tablet {
        padding: 1rem 0.5rem;
      }
      @include sm {
        padding: 0 0.5rem;
      }
      p {
        color: #fff;
        font-family: secundaria-l;
        max-width: 440px;
        font-size: 1.1rem;
        @include tablet {
          max-width: inherit;
          font-size: 0.95rem;
        }
        strong {
          font-family: secundaria-bold;
        }
      }
      .btn-affiliate {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        @include tablet {
          margin-top: 1.3rem;
          margin-left: 0;
        }
        @include sm {
          margin-top: 0.5rem;
        }
        .box-s {
          margin-left: 1.5rem;
          width: 400px;
          position: relative;
          @include tablet {
            margin-left: 0;
            width: 100%;
          }
          &::after {
            content: "";
            display: block;
            width: 440px;
            height: 168px;
            background-image: url("../img/sombra-coroa.png");
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            top: 9px;
            left: 1px;
            z-index: 1;
            @include tablet {
              top: 9px;
              left: 1px;
              width: 280px;
              height: 62px;
            }
            @include mobile {
              height: 84px;
            }
            @include sm-mobile {
              width: 260px;
              height: 37px;
            }
            @include sm {
              width: 230px;
            }
          }
        }
        a {
          color: #fff;
          display: block;
          width: 300px;
          text-align: center;
          padding: 0.5rem 1rem;
          background-color: #023596;
          border: solid 3px #38e67d;
          border-radius: 30px;
          font-size: 1rem;
          text-transform: uppercase;
          font-family: principal-l;
          letter-spacing: 2px;

          text-decoration: none;
          z-index: 2;
          position: relative;
          transition: all ease-in-out 0.5s;
          &:hover {
            border-radius: 15px;
            width: 320px;
          }
          @include tablet {
            width: 100%;
            font-size: 0.6rem;
            padding: 0.5rem;
          }
          @include mobile {
            font-size: 0.55rem;
          }
          @include sm {
            font-size: 0.45rem;
          }
          span {
            font-family: principal-bold;
          }
          strong {
            color: #38e67d;
            font-family: principal-bold;
            transition: all ease-in-out 0.5s;
          }
        }
      }
    }
  }
}
.tv {
  background-color: #022d87;
  width: 100%;
  padding-bottom: 2rem;
  .content-tv {
    display: flex;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    @include tablet {
      padding-top: 2rem;
      flex-direction: column-reverse;
    }
    .col-info {
      width: 50%;
      @include tablet {
        width: 100%;
      }
      h3 {
        font-family: principal-bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.9rem;
        margin-bottom: 1.3rem;
        letter-spacing: 2px;
        position: relative;
        @include tablet {
          font-size: 2rem;
          margin-bottom: 0.5rem;
          text-align: center;
        }
        &::before {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          background-image: url("../icons/coroa.png");
          background-repeat: no-repeat;
          background-size: 100%;
          position: absolute;
          top: -40px;
          opacity: 1;
          left: -30px;
          transform: rotate(320deg);
          @include tablet {
            left: 10px;
            width: 45px;
            height: 45px;
          }
        }
        strong {
          color: #38e67d;
        }
      }
      p {
        color: #fff;
        font-family: secundaria-l;
        max-width: 440px;
        font-size: 1.1rem;
        @include tablet {
          text-align: center;
          font-size: 0.95rem;
        }
        strong {
          font-family: secundaria-bold;
        }
      }
      .btn-affiliate {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        @include tablet {
          margin-top: 1rem;
        }
        .box-s {
          margin-left: 1.5rem;
          width: 400px;
          position: relative;
          @include tablet {
            margin-left: 0;
            display: flex;
            justify-content: center;
            width: 100%;
          }
          &::after {
            content: "";
            display: block;
            width: 410px;
            height: 135px;
            background-image: url("../img/sombra-coroa.png");
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            top: 7px;
            left: 6px;
            z-index: 1;
            @include tablet {
              width: 390px;
              height: 74px;
              top: 4px;
              left: 50px;
            }
            @include sm-mobile {
              width: 370px;
              height: 74px;
            }
            @include sm {
              width: 340px;
              height: 70px;
            }
          }
        }
        a {
          color: #fff;
          display: block;
          width: 300px;
          text-align: center;
          padding: 0.5rem 1rem;
          background-color: #023596;
          border: solid 3px #38e67d;
          border-radius: 30px;
          font-size: 1rem;
          text-transform: uppercase;
          font-family: principal-l;
          letter-spacing: 2px;
          text-decoration: none;
          z-index: 2;
          position: relative;
          transition: all ease-in-out 0.5s;
          @include sm {
            font-size: 0.85rem;
          }
          &:hover {
            width: 320px;
            border-radius: 15px;
          }
          &::after {
            content: "";
            display: block;
            width: 50px;
            height: 50px;
            background-image: url("../icons/coroa.png");
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            top: -44px;
            opacity: 1;
            right: -30px;
            transform: rotate(360deg);
            @include tablet {
              width: 45px;
              height: 45px;
            }
          }
          span {
            font-family: principal-bold;
          }
          strong {
            color: #38e67d;
            font-family: principal-bold;
            transition: all ease-in-out 0.5s;
          }
        }
      }
    }
    .col-img {
      width: 50%;
      @include tablet {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
  }
}

.afiliados {
  background-color: #022d87;
  width: 100%;
  .content-afiliados {
    display: flex;
    max-width: 1000px;
    background: linear-gradient(
      85deg,
      rgba(0, 26, 79, 1) -83%,
      rgba(0, 26, 79, 1) 85%,
      rgba(0, 26, 79, 0.14887953472404591) 100%
    );
    padding: 1rem 0 2rem 0;
    margin: 0 auto;
    .col-info {
      max-width: 470px;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url("../img/quadrado.png");
      padding: 2rem;
      background-position-x: 0px;
      background-repeat: no-repeat;
      background-size: cover;
      height: 328px;
      @include tablet {
        width: 90%;
        padding: 1.5rem 1rem;
        background-position-x: -28px;
        height: 278px;
      }
      h2 {
        font-family: principal-l;
        font-family: principal-l;
        text-transform: uppercase;
        color: #fff;
        font-size: 3.2rem;
        margin-bottom: 1.3rem;
        letter-spacing: 2px;
        text-align: center;
        @include tablet {
          font-size: 2.5rem;
        }
        strong {
          color: #38e67d;
          font-family: principal-bold;
        }
        span {
          font-family: principal-bold;
        }
      }
      a {
        background-color: #38e67d;
        color: #001a4f;
        text-decoration: none;
        padding: 0.5rem 1.2rem;
        border-radius: 18px;
        width: 340px;
        display: block;
        line-height: 27px;
        font-family: principal-l;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 2px;
        transition: all ease-in-out 0.5s;
        @include tablet {
          width: 100%;
          font-size: 1.4rem;
        }
        @include sm {
          width: 100%;
          font-size: 1rem;
          padding: 0.5rem 1rem;
          line-height: 18px;
        }
        strong {
          font-family: principal-bold;
        }
        &:hover {
          width: 370px;
          border-radius: 15px;
        }
      }
    }
  }
}
