$sm: 345px;
$sm-mobile: 400px;
$mobile: 428px;
$tablet: 900px;
$desktop: 1025px;
$lg: 1199px;
$big: 1750px;
/* MIXINS RESPONSIVO */
@mixin sm {
  @media only screen and (max-width: $sm) {
    @content;
  }
}
@mixin sm-mobile {
  @media only screen and (max-width: $sm-mobile) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}

@mixin iphone14 {
  @media only screen and (max-width: 430px) and (max-height: 932px) {
    @content;
  }
}

@mixin iphone12 {
  @media only screen and (max-width: 390px) and (max-height: 844px) {
    @content;
  }
}

@mixin iphoneXR {
  @media only screen and (max-width: 414px) and (max-height: 896px) {
    @content;
  }
}

@mixin iphoneX {
  @media only screen and (max-width: 375px) and (max-height: 812px) {
    @content;
  }
}

@mixin iphone14pro {
  @media only screen and (max-width: 393px) and (max-height: 852px) {
    @content;
  }
}
@mixin iphone11pro {
  @media only screen and (max-width: 414px) and (max-height: 896px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (max-width: $desktop) {
    @content;
  }
}
@mixin lg {
  @media only screen and (max-width: $lg) {
    @content;
  }
}
@mixin big {
  @media only screen and (min-width: $big) {
    @content;
  }
}
