/* MIXINS RESPONSIVO */
body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #022d87;
}

.hero {
  background-image: url("../img/bg-hero.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 900px) {
  .hero {
    background-position-x: 54%;
  }
}

.hero .bg-fundo {
  background: linear-gradient(0deg, #022d87 -83%, #022d87 3%, rgba(2, 45, 135, 0) 39%);
}

.hero .content-hero {
  display: flex;
  padding: 2rem 15px 0 15px;
}

@media only screen and (max-width: 900px) {
  .hero .content-hero {
    flex-direction: column;
  }
}

.hero .content-hero .col-info {
  width: 50%;
  padding-left: 1.5rem;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .hero .content-hero .col-info {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.hero .content-hero .col-info h1 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.2rem;
  max-width: 420px;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

@media only screen and (max-width: 900px) {
  .hero .content-hero .col-info h1 {
    font-size: 2rem;
    max-width: inherit;
    margin-bottom: 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .hero .content-hero .col-info h1 {
    font-size: 1.8rem;
  }
}

.hero .content-hero .col-info h1 strong {
  color: #38e67d;
}

.hero .content-hero .col-info p {
  color: #fff;
  font-family: secundaria-l;
  max-width: 310px;
}

@media only screen and (max-width: 900px) {
  .hero .content-hero .col-info p {
    max-width: inherit;
    text-align: center;
  }
}

.hero .content-hero .col-info p strong {
  font-family: secundaria-bold;
}

.hero .content-hero .col-info img {
  width: 400px;
  margin-left: 1.5rem;
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 900px) {
  .hero .content-hero .col-info img {
    margin-left: 0;
    width: 80%;
    margin-right: 1rem;
  }
}

.hero .content-hero .col-info .box-s {
  margin-left: 1.5rem;
  width: 400px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .hero .content-hero .col-info .box-s {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
}

.hero .content-hero .col-info .box-s::after {
  content: "";
  display: block;
  width: 550px;
  height: 290px;
  background-image: url("../icons/sombra-botao.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .hero .content-hero .col-info .box-s::after {
    display: none;
  }
}

.hero .content-hero .col-info a {
  color: #fff;
  display: block;
  width: 400px;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #023596;
  border: solid 3px #38e67d;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: principal-l;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
  letter-spacing: 2px;
}

@media only screen and (max-width: 900px) {
  .hero .content-hero .col-info a {
    width: 80%;
  }
}

@media only screen and (max-width: 428px) {
  .hero .content-hero .col-info a {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .hero .content-hero .col-info a {
    width: 100%;
  }
}

.hero .content-hero .col-info a:hover {
  border-radius: 15px;
  width: 415px;
}

.hero .content-hero .col-info a:hover .box-s::after {
  width: 600px;
}

.hero .content-hero .col-info a span {
  font-family: principal-bold;
}

.hero .content-hero .col-info a strong {
  color: #38e67d;
  font-family: principal-bold;
  transition: all ease-in-out 0.5s;
}

.hero .content-hero .col-img {
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .hero .content-hero .col-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hero .content-hero .col-img img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .hero .content-hero .col-img img {
    width: 85%;
    margin-top: 2rem;
  }
}

.benefits {
  background-color: #022d87;
  width: 100%;
  padding: 1.5rem 0;
}

.benefits .slick-slide img {
  width: 202px;
}

@media only screen and (max-width: 900px) {
  .benefits .slick-slide img {
    width: 100%;
    margin: 0 0.5rem;
    height: 295px;
  }
}

.benefits .slick-list:before {
  content: "";
  display: block;
  position: absolute;
  width: 93px;
  height: 366px;
  top: 0;
  z-index: 9;
  left: -2px;
  background: linear-gradient(90deg, #022d87 0%, rgba(252, 176, 69, 0) 100%);
}

@media only screen and (max-width: 900px) {
  .benefits .slick-list:before {
    background: none;
  }
}

.benefits .slick-list:after {
  content: "";
  display: block;
  position: absolute;
  width: 73px;
  height: 366px;
  top: 0;
  z-index: 9;
  right: -2px;
  background: linear-gradient(90deg, rgba(131, 58, 180, 0) 0%, rgba(253, 29, 29, 0) 0%, #022d87 100%);
}

@media only screen and (max-width: 900px) {
  .benefits .slick-list:after {
    background: none;
  }
}

.benefits .item {
  height: 365px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .benefits .item {
    height: inherit;
  }
}

.benefits .item img {
  transition: all ease-in-out 0.5s;
}

.benefits .slick-slider {
  margin-bottom: 2rem;
}

.benefits .slick-center img {
  height: 365px;
}

@media only screen and (max-width: 900px) {
  .benefits .slick-center img {
    height: 295px;
  }
}

.benefits .slick-prev {
  margin-right: 3rem;
  background-size: 100% !important;
  height: 34px !important;
  width: 32px !important;
  background-repeat: no-repeat !important;
  background: url("../icons/arrow.png") !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  transform: rotate(180deg);
  position: absolute;
  top: 153px;
  left: -60px;
  border: none;
}

.benefits .slick-next {
  margin-right: 3rem;
  background-size: 100% !important;
  height: 34px !important;
  width: 32px !important;
  background: url("../icons/arrow.png") !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: 153px;
  right: -110px;
  border: none;
}

.benefits h2 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 900px) {
  .benefits h2 {
    font-size: 2rem;
  }
}

.benefits .owl-nav {
  display: block !important;
  position: relative;
}

.benefits .owl-nav .owl-prev {
  width: 30px;
  height: 30px;
  background-image: url("../icons/arrow.png") !important;
  background-size: cover;
  margin-right: 3rem;
  background-size: 100% !important;
  height: 34px !important;
  width: 32px !important;
  background-repeat: no-repeat !important;
  transform: rotate(180deg);
  position: absolute;
  top: -210px;
  left: -60px;
}

.benefits .owl-nav .owl-next {
  width: 30px;
  height: 30px;
  background-image: url("../icons/arrow.png") !important;
  background-size: cover;
  margin-left: 3rem;
  background-size: 100% !important;
  height: 34px !important;
  width: 32px !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: -210px;
  right: -60px;
}

.benefits .owl-carousel {
  margin-bottom: 2rem;
}

.benefits .owl-carousel .item img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.benefits .owl-carousel .owl-stage-outer:before {
  content: "";
  display: block;
  position: absolute;
  width: 73px;
  height: 362px;
  top: 0;
  z-index: 9;
  left: -2px;
  background: linear-gradient(90deg, #022d87 0%, rgba(252, 176, 69, 0) 100%);
}

.benefits .owl-carousel .owl-stage-outer:after {
  content: "";
  display: block;
  position: absolute;
  width: 73px;
  height: 362px;
  top: 0;
  z-index: 9;
  right: -2px;
  background: linear-gradient(90deg, rgba(131, 58, 180, 0) 0%, rgba(253, 29, 29, 0) 0%, #022d87 100%);
}

.benefits .btn-affiliate {
  display: flex;
  justify-content: center;
}

.benefits .box-s {
  position: relative;
}

.benefits .box-s::after {
  content: "";
  display: block;
  width: 506px;
  height: 168px;
  background-image: url("../icons/sombra-botao-02.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 1;
  opacity: 0.5;
}

@media only screen and (max-width: 900px) {
  .benefits .box-s::after {
    width: 415px;
    height: 198px;
  }
}

.benefits a {
  color: #fff;
  display: block;
  width: 310px;
  text-align: center;
  padding: 0.7rem 1rem;
  background-color: #023596;
  border: solid 3px #38e67d;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: principal-l;
  text-decoration: none;
  z-index: 2;
  position: relative;
  letter-spacing: 2px;
  transition: all ease-in-out 0.5s;
}

.benefits a:hover {
  width: 340px;
  border-radius: 15px;
}

.benefits a span {
  font-family: principal-bold;
}

.benefits a strong {
  color: #38e67d;
  font-family: principal-bold;
  transition: all ease-in-out 0.5s;
}

.games {
  padding: 2rem 0 4.5rem 0;
  background-color: #022d87;
  width: 100%;
}

.games h2 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
  margin-bottom: 1.5rem;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

@media only screen and (max-width: 900px) {
  .games h2 {
    font-size: 2rem;
  }
}

.games img {
  width: 100%;
  margin-top: 1.5rem;
}

.games .box-s {
  margin-left: 1.5rem;
  width: 400px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .games .box-s {
    margin-left: 0;
    width: 100%;
  }
}

.games .box-s::after {
  content: "";
  display: block;
  width: 485px;
  height: 73px;
  background-image: url("../img/shadow-games.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: -1px;
  left: 376px;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .games .box-s::after {
    display: none;
  }
}

.games .btn-games {
  display: flex;
  justify-content: center;
  position: relative;
}

.games .btn-games a {
  color: #fff;
  display: block;
  width: 320px;
  text-align: center;
  padding: 0.6rem 1.5rem;
  background-color: #043883;
  border: solid 4px #001b56;
  border-radius: 19px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: principal-l;
  letter-spacing: 2px;
  text-decoration: none;
  z-index: 2;
  position: absolute;
  transition: all ease-in-out 0.5s;
  line-height: 14px;
  top: -29px;
  z-index: 9999;
  left: 370px;
  line-height: 17px;
}

@media only screen and (max-width: 900px) {
  .games .btn-games a {
    left: 0;
    top: -19px;
    width: 100%;
  }
}

.games .btn-games a:hover {
  width: 340px;
  border-radius: 15px;
}

@media only screen and (max-width: 900px) {
  .games .btn-games a:hover {
    width: 100%;
  }
}

.games .btn-games a span {
  font-family: principal-bold;
}

.games .btn-games a strong {
  color: #38e67d;
  font-family: principal-bold;
  transition: all ease-in-out 0.5s;
}

.competicoes {
  background-color: #022d87;
  width: 100%;
  padding-bottom: 2.5rem;
}

.competicoes .content-competicoes {
  display: flex;
  padding: 2rem 0rem 0 2rem;
  background-image: url("../img/bg.png");
  background-size: 1020px;
  background-repeat: no-repeat;
  background-position-y: 0;
  border-bottom-left-radius: 50px;
  max-width: 1000px;
  margin: 0 auto;
  background-position-x: -20px;
  position: relative;
  box-shadow: 0px 0px 13px 0px #1151a1;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes {
    flex-direction: column;
    padding: 1.5rem 0 1.5rem 0.5rem;
    overflow: hidden;
  }
}

.competicoes .content-competicoes .info-mobile {
  display: none;
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.45rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes .info-mobile {
    display: block;
  }
}

.competicoes .content-competicoes .info-mobile strong {
  color: #38e67d;
}

.competicoes .content-competicoes .content {
  display: flex;
}

.competicoes .content-competicoes::before {
  content: "";
  display: block;
  width: 80px;
  height: 150px;
  background-image: url("../img/bg-liberta-before.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 305px;
  opacity: 1;
  right: -81px;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes::before {
    height: 110px;
  }
}

.competicoes .content-competicoes::after {
  content: "";
  display: block;
  width: 80px;
  height: 150px;
  background-image: url("../img/bg-liberta-after.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 33px;
  opacity: 1;
  left: -80px;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes::after {
    height: 110px;
  }
}

.competicoes .content-competicoes .col-img {
  width: 40%;
}

.competicoes .content-competicoes .col-img img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes .col-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.competicoes .content-competicoes .col-info {
  width: 60%;
  padding: 2rem 4rem;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes .col-info {
    padding: 1rem 0.5rem;
  }
}

.competicoes .content-competicoes .col-info h3 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes .col-info h3 {
    display: none;
  }
}

.competicoes .content-competicoes .col-info h3 strong {
  color: #38e67d;
}

.competicoes .content-competicoes .col-info p {
  color: #fff;
  font-family: secundaria-l;
  max-width: 440px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes .col-info p {
    max-width: inherit;
    font-size: 0.95rem;
  }
}

.competicoes .content-competicoes .col-info p strong {
  font-family: secundaria-bold;
}

.competicoes .content-competicoes .col-info .btn-affiliate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes .col-info .btn-affiliate {
    margin-top: 1rem;
  }
}

.competicoes .content-competicoes .col-info .btn-affiliate .box-s {
  margin-left: 1.5rem;
  width: 400px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes .col-info .btn-affiliate .box-s {
    width: 100%;
    margin-left: 0;
  }
}

.competicoes .content-competicoes .col-info .btn-affiliate .box-s::after {
  content: "";
  display: block;
  width: 455px;
  height: 129px;
  background-image: url("../img/shadow-taca.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 19px;
  left: 1px;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes .col-info .btn-affiliate .box-s::after {
    width: 266px;
    height: 84px;
  }
}

@media only screen and (max-width: 428px) {
  .competicoes .content-competicoes .col-info .btn-affiliate .box-s::after {
    height: 109px;
    width: 259px;
  }
}

@media only screen and (max-width: 400px) {
  .competicoes .content-competicoes .col-info .btn-affiliate .box-s::after {
    width: 232px;
    height: 55px;
  }
}

@media only screen and (max-width: 345px) {
  .competicoes .content-competicoes .col-info .btn-affiliate .box-s::after {
    width: 202px;
    height: 66px;
  }
}

@media only screen and (max-width: 390px) and (max-height: 844px) {
  .competicoes .content-competicoes .col-info .btn-affiliate .box-s::after {
    height: 62px;
  }
}

@media only screen and (max-width: 430px) and (max-height: 932px) {
  .competicoes .content-competicoes .col-info .btn-affiliate .box-s::after {
    height: 114px;
  }
}

.competicoes .content-competicoes .col-info .btn-affiliate a {
  color: #fff;
  display: block;
  width: 300px;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #023596;
  border: solid 3px #38e67d;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: principal-l;
  letter-spacing: 2px;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
}

@media only screen and (max-width: 900px) {
  .competicoes .content-competicoes .col-info .btn-affiliate a {
    width: 100%;
    font-size: 0.6rem;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .competicoes .content-competicoes .col-info .btn-affiliate a {
    font-size: 0.55rem;
    padding: 0.5rem 0.2rem;
  }
}

.competicoes .content-competicoes .col-info .btn-affiliate a:hover {
  width: 320px;
  border-radius: 15px;
}

.competicoes .content-competicoes .col-info .btn-affiliate a span {
  font-family: principal-bold;
}

.competicoes .content-competicoes .col-info .btn-affiliate a strong {
  color: #38e67d;
  font-family: principal-bold;
  transition: all ease-in-out 0.5s;
}

.eventos {
  background-color: #022d87;
  width: 100%;
}

.eventos .content-event {
  display: flex;
  padding-bottom: 8rem;
}

@media only screen and (max-width: 900px) {
  .eventos .content-event {
    flex-direction: column;
    padding: 0 7px 10rem 7px;
  }
}

.eventos .content-event .col-info {
  width: 50%;
  padding-left: 5rem;
}

@media only screen and (max-width: 900px) {
  .eventos .content-event .col-info {
    width: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}

.eventos .content-event .col-info h3 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
  max-width: 320px;
}

@media only screen and (max-width: 900px) {
  .eventos .content-event .col-info h3 {
    font-size: 1.2rem;
    text-align: center;
    max-width: 300px;
    margin: 0 auto 0.5rem auto;
  }
}

.eventos .content-event .col-info h3 strong {
  color: #38e67d;
}

.eventos .content-event .col-info p {
  color: #fff;
  font-family: secundaria-l;
  max-width: 440px;
  font-size: 0.95rem;
}

@media only screen and (max-width: 900px) {
  .eventos .content-event .col-info p {
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 17px;
  }
}

.eventos .content-event .col-info p strong {
  font-family: secundaria-bold;
}

.eventos .content-event .col-info .btn-affiliate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 900px) {
  .eventos .content-event .col-info .btn-affiliate {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}

.eventos .content-event .col-info .btn-affiliate .box-s {
  margin-left: 1.5rem;
  width: 400px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .eventos .content-event .col-info .btn-affiliate .box-s {
    margin-left: 0;
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
  }
}

.eventos .content-event .col-info .btn-affiliate .box-s::after {
  content: "";
  display: block;
  width: 460px;
  height: 198px;
  background-image: url("../img/shadow-evento.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 29px;
  left: 1px;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .eventos .content-event .col-info .btn-affiliate .box-s::after {
    width: 390px;
    height: 44px;
    left: 61px;
  }
}

@media only screen and (max-width: 400px) {
  .eventos .content-event .col-info .btn-affiliate .box-s::after {
    width: 350px;
    height: 47px;
  }
}

@media only screen and (max-width: 345px) {
  .eventos .content-event .col-info .btn-affiliate .box-s::after {
    width: 330px;
    height: 47px;
  }
}

@media only screen and (max-width: 414px) and (max-height: 896px) {
  .eventos .content-event .col-info .btn-affiliate .box-s::after {
    height: 55px;
  }
}

.eventos .content-event .col-info .btn-affiliate a {
  color: #fff;
  display: block;
  width: 300px;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #023596;
  border: solid 3px #38e67d;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: principal-l;
  letter-spacing: 2px;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
}

@media only screen and (max-width: 900px) {
  .eventos .content-event .col-info .btn-affiliate a {
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    font-size: 0.75rem;
    width: 290px;
  }
}

.eventos .content-event .col-info .btn-affiliate a:hover {
  width: 320px;
  border-radius: 15px;
}

.eventos .content-event .col-info .btn-affiliate a span {
  font-family: principal-bold;
}

.eventos .content-event .col-info .btn-affiliate a strong {
  color: #38e67d;
  font-family: principal-bold;
  transition: all ease-in-out 0.5s;
}

.eventos .content-event .col-img {
  width: 50%;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .eventos .content-event .col-img {
    width: 100%;
    justify-content: center;
  }
}

.eventos .content-event .col-img img {
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 11px 0px #012675;
}

@media only screen and (max-width: 900px) {
  .eventos .content-event .col-img img {
    width: 300px;
    height: 230px;
    box-shadow: none;
  }
}

.eventos .content-event .col-img img:nth-child(1) {
  position: absolute;
  top: 0px;
  z-index: 2;
}

.eventos .content-event .col-img img:nth-child(2) {
  position: relative;
  left: 200px;
  top: 90px;
}

@media only screen and (max-width: 900px) {
  .eventos .content-event .col-img img:nth-child(2) {
    position: relative;
    left: 20px;
    top: 120px;
  }
}

.social {
  background-color: #022d87;
  width: 100%;
  padding-bottom: 0.3rem;
}

.social .container {
  position: relative;
}

@media only screen and (max-width: 900px) {
  .social .container {
    padding: 0 5px;
  }
}

.social .bola-bg {
  position: absolute;
  top: -160px;
  left: -100px;
  width: 700px;
}

@media only screen and (max-width: 900px) {
  .social .bola-bg {
    display: none;
  }
}

.social .content-social {
  display: flex;
  padding: 2rem 0rem 0 2rem;
  background-image: url("../img/bg-03.png");
  background-size: 1020px;
  background-repeat: no-repeat;
  background-position-y: 0;
  max-width: 1000px;
  margin: 0 auto;
  background-position-x: -20px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .social .content-social {
    display: none;
    padding: 2rem 0.5rem 0 0.5rem;
  }
}

.social .content-social .col-img {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 900px) {
  .social .content-social .col-img {
    align-items: flex-end;
  }
}

.social .content-social .col-img img {
  width: 300px;
}

@media only screen and (max-width: 900px) {
  .social .content-social .col-img img {
    width: 100%;
    height: 250px;
  }
}

.social .content-social .col-info {
  width: 60%;
  padding: 2rem 4rem;
}

@media only screen and (max-width: 900px) {
  .social .content-social .col-info {
    padding: 1rem 0.5rem;
  }
}

.social .content-social .col-info h3 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
}

@media only screen and (max-width: 900px) {
  .social .content-social .col-info h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    display: none;
  }
}

.social .content-social .col-info h3 strong {
  color: #38e67d;
}

.social .content-social .col-info p {
  color: #fff;
  font-family: secundaria-l;
  max-width: 440px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 900px) {
  .social .content-social .col-info p {
    max-width: inherit;
    font-size: 0.95rem;
  }
}

.social .content-social .col-info p strong {
  font-family: secundaria-bold;
}

.social .content-social .col-info .btn-affiliate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 900px) {
  .social .content-social .col-info .btn-affiliate {
    margin-top: 1.3rem;
  }
}

.social .content-social .col-info .btn-affiliate .box-s {
  margin-left: 1.5rem;
  width: 400px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .social .content-social .col-info .btn-affiliate .box-s {
    margin-left: 0.5rem;
    width: 100%;
  }
}

.social .content-social .col-info .btn-affiliate .box-s::after {
  content: "";
  display: block;
  width: 440px;
  height: 168px;
  background-image: url("../img/sombra-coroa.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 9px;
  left: 1px;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .social .content-social .col-info .btn-affiliate .box-s::after {
    top: 9px;
    left: 1px;
    width: 280px;
    height: 58px;
  }
}

.social .content-social .col-info .btn-affiliate a {
  color: #fff;
  display: block;
  width: 300px;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #023596;
  border: solid 3px #38e67d;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: principal-l;
  letter-spacing: 2px;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
}

.social .content-social .col-info .btn-affiliate a:hover {
  border-radius: 15px;
  width: 320px;
}

@media only screen and (max-width: 900px) {
  .social .content-social .col-info .btn-affiliate a:hover {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .social .content-social .col-info .btn-affiliate a {
    width: 100%;
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 400px) {
  .social .content-social .col-info .btn-affiliate a {
    font-size: 0.55rem;
  }
}

.social .content-social .col-info .btn-affiliate a span {
  font-family: principal-bold;
}

.social .content-social .col-info .btn-affiliate a strong {
  color: #38e67d;
  font-family: principal-bold;
  transition: all ease-in-out 0.5s;
}

.social .content-social-mobile {
  display: none;
  padding: 1.5rem 1rem;
  background-image: url("../img/bg-03.png");
  background-size: 750px;
  background-repeat: no-repeat;
  background-position-y: 0;
  max-width: 1000px;
  margin: 0 auto;
  background-position-x: -20px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .social .content-social-mobile {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 345px) {
  .social .content-social-mobile {
    padding: 0.7rem;
  }
}

.social .content-social-mobile h3 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
}

@media only screen and (max-width: 900px) {
  .social .content-social-mobile h3 {
    font-size: 1.25rem;
    margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width: 345px) {
  .social .content-social-mobile h3 {
    margin-bottom: 0.5rem;
  }
}

.social .content-social-mobile h3 strong {
  color: #38e67d;
}

.social .content-social-mobile .content {
  display: flex;
}

.social .content-social-mobile .col-img {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 900px) {
  .social .content-social-mobile .col-img {
    align-items: flex-end;
  }
}

.social .content-social-mobile .col-img img {
  width: 300px;
}

@media only screen and (max-width: 900px) {
  .social .content-social-mobile .col-img img {
    width: 100%;
    height: 250px;
  }
}

@media only screen and (max-width: 345px) {
  .social .content-social-mobile .col-img img {
    height: 210px;
  }
}

.social .content-social-mobile .col-info {
  width: 60%;
  padding: 2rem 4rem;
}

@media only screen and (max-width: 900px) {
  .social .content-social-mobile .col-info {
    padding: 1rem 0.5rem;
  }
}

@media only screen and (max-width: 345px) {
  .social .content-social-mobile .col-info {
    padding: 0 0.5rem;
  }
}

.social .content-social-mobile .col-info p {
  color: #fff;
  font-family: secundaria-l;
  max-width: 440px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 900px) {
  .social .content-social-mobile .col-info p {
    max-width: inherit;
    font-size: 0.95rem;
  }
}

.social .content-social-mobile .col-info p strong {
  font-family: secundaria-bold;
}

.social .content-social-mobile .col-info .btn-affiliate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 900px) {
  .social .content-social-mobile .col-info .btn-affiliate {
    margin-top: 1.3rem;
    margin-left: 0;
  }
}

@media only screen and (max-width: 345px) {
  .social .content-social-mobile .col-info .btn-affiliate {
    margin-top: 0.5rem;
  }
}

.social .content-social-mobile .col-info .btn-affiliate .box-s {
  margin-left: 1.5rem;
  width: 400px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .social .content-social-mobile .col-info .btn-affiliate .box-s {
    margin-left: 0;
    width: 100%;
  }
}

.social .content-social-mobile .col-info .btn-affiliate .box-s::after {
  content: "";
  display: block;
  width: 440px;
  height: 168px;
  background-image: url("../img/sombra-coroa.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 9px;
  left: 1px;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .social .content-social-mobile .col-info .btn-affiliate .box-s::after {
    top: 9px;
    left: 1px;
    width: 280px;
    height: 62px;
  }
}

@media only screen and (max-width: 428px) {
  .social .content-social-mobile .col-info .btn-affiliate .box-s::after {
    height: 84px;
  }
}

@media only screen and (max-width: 400px) {
  .social .content-social-mobile .col-info .btn-affiliate .box-s::after {
    width: 260px;
    height: 37px;
  }
}

@media only screen and (max-width: 345px) {
  .social .content-social-mobile .col-info .btn-affiliate .box-s::after {
    width: 230px;
  }
}

@media only screen and (max-width: 390px) and (max-height: 844px) {
  .social .content-social-mobile .col-info .btn-affiliate .box-s::after {
    height: 62px;
  }
}

@media only screen and (max-width: 430px) and (max-height: 932px) {
  .social .content-social-mobile .col-info .btn-affiliate .box-s::after {
    height: 84px;
  }
}

@media only screen and (max-width: 414px) and (max-height: 896px) {
  .social .content-social-mobile .col-info .btn-affiliate .box-s::after {
    height: 85px;
  }
}

@media only screen and (max-width: 375px) and (max-height: 812px) {
  .social .content-social-mobile .col-info .btn-affiliate .box-s::after {
    height: 60px;
  }
}

@media only screen and (max-width: 393px) and (max-height: 852px) {
  .social .content-social-mobile .col-info .btn-affiliate .box-s::after {
    height: 60px;
  }
}

@media only screen and (max-width: 414px) and (max-height: 896px) {
  .social .content-social-mobile .col-info .btn-affiliate .box-s::after {
    height: 62px;
  }
}

.social .content-social-mobile .col-info .btn-affiliate a {
  color: #fff;
  display: block;
  width: 300px;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #023596;
  border: solid 3px #38e67d;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: principal-l;
  letter-spacing: 2px;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
}

.social .content-social-mobile .col-info .btn-affiliate a:hover {
  border-radius: 15px;
  width: 320px;
}

@media only screen and (max-width: 900px) {
  .social .content-social-mobile .col-info .btn-affiliate a {
    width: 100%;
    font-size: 0.6rem;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 428px) {
  .social .content-social-mobile .col-info .btn-affiliate a {
    font-size: 0.55rem;
  }
}

@media only screen and (max-width: 345px) {
  .social .content-social-mobile .col-info .btn-affiliate a {
    font-size: 0.45rem;
  }
}

.social .content-social-mobile .col-info .btn-affiliate a span {
  font-family: principal-bold;
}

.social .content-social-mobile .col-info .btn-affiliate a strong {
  color: #38e67d;
  font-family: principal-bold;
  transition: all ease-in-out 0.5s;
}

.tv {
  background-color: #022d87;
  width: 100%;
  padding-bottom: 2rem;
}

.tv .content-tv {
  display: flex;
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .tv .content-tv {
    padding-top: 2rem;
    flex-direction: column-reverse;
  }
}

.tv .content-tv .col-info {
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .tv .content-tv .col-info {
    width: 100%;
  }
}

.tv .content-tv .col-info h3 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .tv .content-tv .col-info h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.tv .content-tv .col-info h3::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../icons/coroa.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: -40px;
  opacity: 1;
  left: -30px;
  transform: rotate(320deg);
}

@media only screen and (max-width: 900px) {
  .tv .content-tv .col-info h3::before {
    left: 10px;
    width: 45px;
    height: 45px;
  }
}

.tv .content-tv .col-info h3 strong {
  color: #38e67d;
}

.tv .content-tv .col-info p {
  color: #fff;
  font-family: secundaria-l;
  max-width: 440px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 900px) {
  .tv .content-tv .col-info p {
    text-align: center;
    font-size: 0.95rem;
  }
}

.tv .content-tv .col-info p strong {
  font-family: secundaria-bold;
}

.tv .content-tv .col-info .btn-affiliate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 900px) {
  .tv .content-tv .col-info .btn-affiliate {
    margin-top: 1rem;
  }
}

.tv .content-tv .col-info .btn-affiliate .box-s {
  margin-left: 1.5rem;
  width: 400px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .tv .content-tv .col-info .btn-affiliate .box-s {
    margin-left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.tv .content-tv .col-info .btn-affiliate .box-s::after {
  content: "";
  display: block;
  width: 410px;
  height: 135px;
  background-image: url("../img/sombra-coroa.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 7px;
  left: 6px;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .tv .content-tv .col-info .btn-affiliate .box-s::after {
    width: 390px;
    height: 350px;
    top: 4px;
    left: 50px;
  }
}

@media only screen and (max-width: 400px) {
  .tv .content-tv .col-info .btn-affiliate .box-s::after {
    width: 370px;
    height: 350px;
  }
}

@media only screen and (max-width: 345px) {
  .tv .content-tv .col-info .btn-affiliate .box-s::after {
    width: 340px;
    height: 350px;
  }
}

.tv .content-tv .col-info .btn-affiliate a {
  color: #fff;
  display: block;
  width: 300px;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #023596;
  border: solid 3px #38e67d;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: principal-l;
  letter-spacing: 2px;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
}

@media only screen and (max-width: 345px) {
  .tv .content-tv .col-info .btn-affiliate a {
    font-size: 0.85rem;
  }
}

.tv .content-tv .col-info .btn-affiliate a:hover {
  width: 320px;
  border-radius: 15px;
}

.tv .content-tv .col-info .btn-affiliate a::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../icons/coroa.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: -44px;
  opacity: 1;
  right: -30px;
  transform: rotate(360deg);
}

@media only screen and (max-width: 900px) {
  .tv .content-tv .col-info .btn-affiliate a::after {
    width: 45px;
    height: 45px;
  }
}

.tv .content-tv .col-info .btn-affiliate a span {
  font-family: principal-bold;
}

.tv .content-tv .col-info .btn-affiliate a strong {
  color: #38e67d;
  font-family: principal-bold;
  transition: all ease-in-out 0.5s;
}

.tv .content-tv .col-img {
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .tv .content-tv .col-img {
    width: 100%;
  }
}

.tv .content-tv .col-img img {
  width: 100%;
}

.afiliados {
  background-color: #022d87;
  width: 100%;
  position: relative;
  z-index: 2;
}

.afiliados .content-afiliados {
  display: flex;
  max-width: 1000px;
  background: linear-gradient(85deg, #001a4f -83%, #001a4f 85%, rgba(0, 26, 79, 0.14888) 100%);
  padding: 1rem 0 2rem 0;
  margin: 0 auto;
}

.afiliados .content-afiliados .col-info {
  max-width: 470px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/quadrado.png");
  padding: 2rem;
  background-position-x: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 328px;
}

@media only screen and (max-width: 900px) {
  .afiliados .content-afiliados .col-info {
    width: 90%;
    padding: 1.5rem 1rem;
    background-position-x: -28px;
    height: 278px;
  }
}

.afiliados .content-afiliados .col-info h2 {
  font-family: principal-l;
  font-family: principal-l;
  text-transform: uppercase;
  color: #fff;
  font-size: 3.2rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .afiliados .content-afiliados .col-info h2 {
    font-size: 2.5rem;
  }
}

.afiliados .content-afiliados .col-info h2 strong {
  color: #38e67d;
  font-family: principal-bold;
}

.afiliados .content-afiliados .col-info h2 span {
  font-family: principal-bold;
}

.afiliados .content-afiliados .col-info a {
  background-color: #38e67d;
  color: #001a4f;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  border-radius: 18px;
  width: 340px;
  display: block;
  line-height: 27px;
  font-family: principal-l;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  transition: all ease-in-out 0.5s;
}

@media only screen and (max-width: 900px) {
  .afiliados .content-afiliados .col-info a {
    width: 100%;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 345px) {
  .afiliados .content-afiliados .col-info a {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    line-height: 18px;
  }
}

.afiliados .content-afiliados .col-info a strong {
  font-family: principal-bold;
}

.afiliados .content-afiliados .col-info a:hover {
  width: 370px;
  border-radius: 15px;
}

header {
  background: linear-gradient(180deg, rgba(3, 37, 104, 0.66) -83%, rgba(3, 37, 104, 0.56) 75%, rgba(9, 11, 17, 0) 100%);
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 15px 2rem 15px;
}

@media only screen and (max-width: 900px) {
  .content-header {
    justify-content: space-between;
  }
}

.content-header .logo {
  margin-right: 2.5rem;
}

.content-header .logo img {
  width: 80px;
}

.content-header .desktop-nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .content-header .desktop-nav {
    display: none;
  }
}

.content-header .desktop-nav ul {
  display: flex;
  margin-bottom: 0;
  align-items: center;
}

.content-header .desktop-nav ul li {
  margin: 0 1rem;
  height: 32px;
  display: flex;
  align-items: center;
}

.content-header .desktop-nav ul li a {
  color: #fff;
  font-family: principal-regular;
  font-weight: 300;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 2px;
  transition: all ease-in-out 0.5s;
  text-shadow: 2px 2px 7px #023596;
}

.content-header .desktop-nav ul li a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #38e67d;
  transition: all ease-in-out 0.5s;
}

.content-header .desktop-nav ul li a:hover::after {
  width: 100%;
}

.content-header .desktop-nav ul li:nth-child(odd) a {
  color: #fff;
}

.content-header .desktop-nav ul li:nth-child(4) {
  max-width: 90px;
  text-align: center;
  line-height: 15px;
}

.content-header .desktop-nav ul li:nth-child(7) {
  text-align: center;
  line-height: 15px;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 900px) {
  .menu-icon {
    width: 45px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: block;
    z-index: 9999;
  }
}

.menu-icon__line {
  height: 5px;
  width: 45px;
  display: block;
  background-color: #d9d9d9;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, background-color 0.5s ease;
  transition: transform 0.2s ease, background-color 0.5s ease, -webkit-transform 0.2s ease;
  border-radius: 3px;
}

.menu-icon__line-left {
  width: 45px;
  margin-top: 7px;
}

.menu-icon__line-right {
  width: 45px;
  margin-bottom: 0;
}

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 11111111;
  top: 0;
  left: 0;
  background: #023596f7;
  overflow-x: hidden;
  transition: 0.4s;
}

@media only screen and (max-width: 900px) {
  .overlay {
    height: 100vh;
  }
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s;
  width: max-content;
  margin-left: 4rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: principal-regular;
}

@media only screen and (max-width: 900px) {
  .overlay a {
    font-size: 1.5rem;
    margin-left: 2rem;
  }
}

.overlay a:hover {
  color: #fff;
}

.overlay a:focus {
  color: #fff;
}

.overlay .overlay-content {
  position: relative;
  top: 7%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

@media only screen and (max-width: 900px) {
  .overlay .overlay-content {
    top: 10%;
  }
}

@media only screen and (max-width: 428px) {
  .overlay .overlay-content {
    top: 25%;
  }
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media only screen and (max-width: 900px) {
  .overlay .closebtn {
    top: 0;
    right: 10px;
    font-size: 40px;
  }
}

footer {
  background-color: #001a4f;
}

footer .content-footer {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

@media only screen and (max-width: 900px) {
  footer .content-footer {
    padding: 1.5rem 0;
  }
}

footer .content-footer img {
  width: 210px;
}

@media only screen and (max-width: 900px) {
  footer .content-footer img {
    width: 180px;
  }
}

.header-afiliado {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #022d87;
  padding: 2rem;
}

.afiliados-page {
  background-color: #022d87;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .afiliados-page iframe {
    width: 100%;
  }
}

.afiliados-page h1 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
  max-width: 810px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
  .afiliados-page h1 {
    font-size: 1rem;
  }
}

.afiliados-page h1 strong {
  color: #38e67d;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: principal-regular;
  src: url(../css/fonts/MonumentExtended-Regular.ttf);
}

@font-face {
  font-family: principal-bold;
  src: url(../css/fonts/MonumentExtended-Ultrabold.ttf);
}

@font-face {
  font-family: principal-l;
  src: url(../css/fonts/MonumentExtended-Light.ttf);
}

@font-face {
  font-family: secundaria-l;
  src: url(../css/fonts/Nexa-Light.otf);
}

@font-face {
  font-family: secundaria-bold;
  src: url(../css/fonts/Nexa-Bold.otf);
}
