/* MIXINS RESPONSIVO */
.hero {
  background-image: url("../img/bg-hero.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .bg-fundo {
  background: linear-gradient(0deg, #022d87 -83%, #022d87 3%, rgba(2, 45, 135, 0) 39%);
}

.hero .content-hero {
  display: flex;
  padding: 2rem 15px 0 15px;
}

.hero .content-hero .col-info {
  width: 50%;
  padding-left: 1.5rem;
  position: relative;
}

.hero .content-hero .col-info h1 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.2rem;
  max-width: 410px;
  margin-bottom: 1rem;
}

.hero .content-hero .col-info h1 strong {
  color: #38e67d;
}

.hero .content-hero .col-info p {
  color: #fff;
  font-family: secundaria-l;
  max-width: 310px;
}

.hero .content-hero .col-info p strong {
  font-weight: bold;
}

.hero .content-hero .col-info img {
  width: 400px;
  margin-left: 1.5rem;
  margin-bottom: 1.2rem;
}

.hero .content-hero .col-info .box-s {
  margin-left: 1.5rem;
  width: 400px;
  position: relative;
}

.hero .content-hero .col-info .box-s::after {
  content: "";
  display: block;
  width: 570px;
  height: 290px;
  background-image: url("../icons/sombra-botao.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 1;
}

.hero .content-hero .col-info a {
  color: #fff;
  display: block;
  width: 400px;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #023596;
  border: solid 3px #38e67d;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: secundaria-l;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
}

.hero .content-hero .col-info a:hover {
  border: solid 3px #023596;
  border-radius: 15px;
}

.hero .content-hero .col-info a span {
  font-family: secundaria-bold;
}

.hero .content-hero .col-info a strong {
  color: #38e67d;
  font-family: secundaria-bold;
  transition: all ease-in-out 0.5s;
}

.hero .content-hero .col-img {
  width: 50%;
}

.hero .content-hero .col-img img {
  width: 100%;
}

.benefits {
  background-color: #022d87;
  width: 100%;
  padding: 1.5rem 0;
}

.benefits h2 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
  margin-bottom: 1.5rem;
}

.benefits .owl-carousel {
  margin-bottom: 2rem;
}

.benefits .owl-carousel .item img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.benefits .btn-affiliate {
  display: flex;
  justify-content: center;
}

.benefits .box-s {
  margin-left: 1.5rem;
  width: 200px;
  position: relative;
}

.benefits .box-s::after {
  content: "";
  display: block;
  width: 340px;
  height: 210px;
  background-image: url("../icons/sombra-botao-02.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 10px;
  left: 1px;
  z-index: 1;
  opacity: 0.5;
}

.benefits a {
  color: #fff;
  display: block;
  width: 200px;
  text-align: center;
  padding: 0.4rem 1rem;
  background-color: #064095;
  border: solid 3px #38e67d;
  border-radius: 30px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: secundaria-l;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
  line-height: 14px;
}

.benefits a span {
  font-family: secundaria-bold;
}

.benefits a strong {
  color: #38e67d;
  font-family: secundaria-bold;
  transition: all ease-in-out 0.5s;
}

.games {
  padding: 2rem 0 4.5rem 0;
  background-color: #022d87;
  width: 100%;
}

.games h2 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
  margin-bottom: 1.5rem;
  margin: 0 auto;
}

.games img {
  width: 100%;
  margin-top: 1.5rem;
}

.games .btn-games {
  display: flex;
  justify-content: center;
  position: relative;
}

.games .btn-games a {
  color: #fff;
  display: block;
  width: 250px;
  text-align: center;
  padding: 0.4rem 1.5rem;
  background-color: #043883;
  border: solid 4px #001b56;
  border-radius: 19px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: secundaria-l;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
  position: absolute;
  transition: all ease-in-out 0.5s;
  line-height: 14px;
  top: -29px;
  z-index: 999;
  left: 430px;
  line-height: 17px;
}

.games .btn-games a span {
  font-family: secundaria-bold;
}

.games .btn-games a strong {
  color: #38e67d;
  font-family: secundaria-bold;
  transition: all ease-in-out 0.5s;
}

.competicoes {
  background-color: #022d87;
  width: 100%;
  padding-bottom: 2.5rem;
}

.competicoes .content-competicoes {
  display: flex;
  padding: 2rem 0rem 0 2rem;
  background-image: url("../img/bg.png");
  background-size: 1020px;
  background-repeat: no-repeat;
  background-position-y: 0;
  border-bottom-left-radius: 50px;
  max-width: 1000px;
  margin: 0 auto;
  background-position-x: -20px;
  position: relative;
  box-shadow: 0px 0px 13px 0px #1151a1;
}

.competicoes .content-competicoes::before {
  content: "";
  display: block;
  width: 80px;
  height: 150px;
  background-image: url("../img/bg-liberta-before.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 305px;
  opacity: 1;
  right: -81px;
}

.competicoes .content-competicoes::after {
  content: "";
  display: block;
  width: 80px;
  height: 150px;
  background-image: url("../img/bg-liberta-after.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 33px;
  opacity: 1;
  left: -80px;
}

.competicoes .content-competicoes .col-img {
  width: 40%;
}

.competicoes .content-competicoes .col-img img {
  width: 100%;
}

.competicoes .content-competicoes .col-info {
  width: 60%;
  padding: 2rem 4rem;
}

.competicoes .content-competicoes .col-info h3 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
}

.competicoes .content-competicoes .col-info h3 strong {
  color: #38e67d;
}

.competicoes .content-competicoes .col-info p {
  color: #fff;
  font-family: secundaria-l;
  max-width: 440px;
  font-size: 1.1rem;
}

.competicoes .content-competicoes .col-info p strong {
  font-weight: bold;
}

.competicoes .content-competicoes .col-info .btn-affiliate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.competicoes .content-competicoes .col-info .btn-affiliate a {
  color: #fff;
  display: block;
  width: 280px;
  text-align: center;
  padding: 0.4rem 1rem;
  background-color: #064095;
  border: solid 4px #38e67d;
  border-radius: 17px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: secundaria-l;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
  line-height: 14px;
}

.competicoes .content-competicoes .col-info .btn-affiliate a cach span {
  font-family: secundaria-bold;
}

.competicoes .content-competicoes .col-info .btn-affiliate a strong {
  color: #38e67d;
  font-family: secundaria-bold;
  transition: all ease-in-out 0.5s;
}

.eventos {
  background-color: #022d87;
  width: 100%;
}

.eventos .content-event {
  display: flex;
  padding-bottom: 8rem;
}

.eventos .content-event .col-info {
  width: 50%;
  padding-left: 5rem;
}

.eventos .content-event .col-info h3 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
  max-width: 320px;
}

.eventos .content-event .col-info h3 strong {
  color: #38e67d;
}

.eventos .content-event .col-info p {
  color: #fff;
  font-family: secundaria-l;
  max-width: 440px;
  font-size: 0.95rem;
}

.eventos .content-event .col-info p strong {
  font-weight: bold;
}

.eventos .content-event .col-info .btn-affiliate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.eventos .content-event .col-info .btn-affiliate a {
  color: #fff;
  display: block;
  width: 280px;
  text-align: center;
  padding: 0.4rem 1rem;
  background-color: #064095;
  border: solid 2px #38e67d;
  border-radius: 17px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: secundaria-l;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
  line-height: 14px;
}

.eventos .content-event .col-info .btn-affiliate a cach span {
  font-family: secundaria-bold;
}

.eventos .content-event .col-info .btn-affiliate a strong {
  color: #38e67d;
  font-family: secundaria-bold;
  transition: all ease-in-out 0.5s;
}

.eventos .content-event .col-img {
  width: 50%;
  display: flex;
  position: relative;
}

.eventos .content-event .col-img img {
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 11px 0px #012675;
}

.eventos .content-event .col-img img:nth-child(1) {
  position: absolute;
  top: 0px;
  z-index: 2;
}

.eventos .content-event .col-img img:nth-child(2) {
  position: relative;
  left: 200px;
  top: 90px;
}

.social {
  background-color: #022d87;
  width: 100%;
  padding-bottom: 2rem;
}

.social .content-social {
  display: flex;
  padding: 2rem 0rem 0 2rem;
  background-image: url("../img/bg-03.png");
  background-size: 1020px;
  background-repeat: no-repeat;
  background-position-y: 0;
  max-width: 1000px;
  margin: 0 auto;
  background-position-x: -20px;
  position: relative;
}

.social .content-social .col-img {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.social .content-social .col-img img {
  width: 300px;
}

.social .content-social .col-info {
  width: 60%;
  padding: 2rem 4rem;
}

.social .content-social .col-info h3 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
}

.social .content-social .col-info h3 strong {
  color: #38e67d;
}

.social .content-social .col-info p {
  color: #fff;
  font-family: secundaria-l;
  max-width: 440px;
  font-size: 1.1rem;
}

.social .content-social .col-info p strong {
  font-weight: bold;
}

.social .content-social .col-info .btn-affiliate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.social .content-social .col-info .btn-affiliate a {
  color: #fff;
  display: block;
  width: 280px;
  text-align: center;
  padding: 0.4rem 1rem;
  background-color: #064095;
  border: solid 4px #38e67d;
  border-radius: 17px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: secundaria-l;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
  line-height: 14px;
}

.social .content-social .col-info .btn-affiliate a cach span {
  font-family: secundaria-bold;
}

.social .content-social .col-info .btn-affiliate a strong {
  color: #38e67d;
  font-family: secundaria-bold;
  transition: all ease-in-out 0.5s;
}

.tv {
  background-color: #022d87;
  width: 100%;
  padding-bottom: 2rem;
}

.tv .content-tv {
  display: flex;
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
}

.tv .content-tv .col-info {
  width: 50%;
}

.tv .content-tv .col-info h3 {
  font-family: principal-bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
}

.tv .content-tv .col-info h3 strong {
  color: #38e67d;
}

.tv .content-tv .col-info p {
  color: #fff;
  font-family: secundaria-l;
  max-width: 440px;
  font-size: 1.1rem;
}

.tv .content-tv .col-info p strong {
  font-weight: bold;
}

.tv .content-tv .col-info .btn-affiliate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.tv .content-tv .col-info .btn-affiliate a {
  color: #fff;
  display: block;
  width: 280px;
  text-align: center;
  padding: 0.4rem 1rem;
  background-color: #064095;
  border: solid 4px #38e67d;
  border-radius: 17px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: secundaria-l;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
  position: relative;
  transition: all ease-in-out 0.5s;
  line-height: 14px;
}

.tv .content-tv .col-info .btn-affiliate a cach span {
  font-family: secundaria-bold;
}

.tv .content-tv .col-info .btn-affiliate a strong {
  color: #38e67d;
  font-family: secundaria-bold;
  transition: all ease-in-out 0.5s;
}

.tv .content-tv .col-img {
  width: 50%;
}

.tv .content-tv .col-img img {
  width: 100%;
}

header {
  background: linear-gradient(180deg, rgba(3, 37, 104, 0.66) -83%, rgba(3, 37, 104, 0.56) 75%, rgba(9, 11, 17, 0) 100%);
}

.content-header {
  display: flex;
  align-items: center;
  padding: 1rem 15px 2rem 15px;
}

.content-header .logo {
  margin-right: 2.5rem;
}

.content-header .logo img {
  width: 80px;
}

.content-header .desktop-nav ul {
  display: flex;
  margin-bottom: 0;
  align-items: center;
}

.content-header .desktop-nav ul li {
  margin: 0 1rem;
}

.content-header .desktop-nav ul li a {
  color: #38e67d;
  font-family: principal-regular;
  font-weight: 300;
  text-decoration: none;
  font-size: 0.8rem;
}

.content-header .desktop-nav ul li:nth-child(odd) a {
  color: #fff;
}

.content-header .desktop-nav ul li:nth-child(4) {
  max-width: 90px;
  text-align: center;
  line-height: 10px;
}

.content-header .desktop-nav ul li:nth-child(7) {
  text-align: center;
  line-height: 10px;
}

footer {
  background-color: #001a4f;
}

footer .content-footer {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

footer .content-footer img {
  width: 210px;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: principal-regular;
  src: url(../css/fonts/MonumentExtended-Regular.ttf);
}

@font-face {
  font-family: principal-bold;
  src: url(../css/fonts/MonumentExtended-Ultrabold.ttf);
}

@font-face {
  font-family: principal-l;
  src: url(../css/fonts/MonumentExtended-Light.ttf);
}

@font-face {
  font-family: secundaria-l;
  src: url(../css/fonts/Nexa-Light.otf);
}

@font-face {
  font-family: secundaria-bold;
  src: url(../css/fonts/Nexa-Heavy.otf);
}
